<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BACKEND PORTAL</title>
</head>
<body>
<div>
    <h1>alo alo 1234!</h1>
    <p>Server đang ổn nhé đồng chí !</p>
    <span>
    Chạy mãi mà không ra kết quả thì khả lăng là do máy bạn chứ không phải máy tôy =DD
    </span>
    <span>
        Mọi vấn đề và phàn nàn xin liên hệ số nhà:
    </span>
    <i>
        <span>
            Call, SMS: 0899866930
        </span>
        <span>
            Zalo: 0364829936
        </span>
        <a href="https://www.facebook.com/quylaptrinh">Phở bò</a>
        <span>
            Hoặc qua hệ thống kênh chat của LOL VN (Nếu như các kênh trên không liên lạc đc) ig: quylaptrinh#9999
        </span>
    </i>
</div>
</body>
</html>
